body,ul{
	margin:0px;
	padding:0px;
}
ul{
	list-style: none;
}
.page-wrap{
	background: #c7e7c7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
	min-width:1000px;
}
.center-panel{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.login-panel{
	width:400px;
	height:300px;
	background-color:white;
}
.login-panel>div{
	width:100%;
	box-sizing: border-box;
}
.login-panel-top{
	height:80px;
	background-color:#66cee6;
}
.login-panel-middle{
	height:140px;
	background-color:#efd6da;
}
.login-panel-bottom{
	height:80px;
	background-color:#92a3a7;
}
.login-input-wrap{
	height: 50px;
    width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 0px;
}
.login-input-wrap .login-label{
	width:90px;
}
.login-input-wrap > div{
	float:left;
}
.login-input-wrap .login-input{
	border:none;
	height: 30px;
    width: 200px
}
.login-btn-wrap{
	width:250px;
	margin:0px auto;
	padding-top:15px;
}
.btn-lg{
	border: none;
    background-color: #56bbd2;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: white;
    font-weight: bold;
}
.btn-lg:hover{
	 background-color: #66cee6;
}
.login-btn{
	float:left;
}
.clear-btn{
	float:right;
}
.login-title{
	line-height: 80px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: x-large;
}
.left-menu-wrap{
	position: fixed;
    width: 180px;
    background-color: #8dcaf5;
    top: 0;
    bottom: 0;
    height: auto;
}
.left-menu-header{
    height: 150px;
    background-color: #b7b6b6;
}
.left-menu>ul>li{
	text-align:center;
	height: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
}
.left-menu>ul>li:hover{
	background-color: #8cedf7;
}