<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>{{webInfo.title}}</title>
		<meta name="keyworlds" content="{{webInfo.keyworlds}}">
		<meta name="description" content="{{webInfo.description}}">
		<script type="text/javascript" src="../js/angular.min.js"></script>
	</head>
	<body ng-controller="ctrl">
		{{test}}
	</body>
	<script type="text/javascript">
		"use scrict"
		var app = angular.module("app",[]);
		app.controller("ctrl",function($scope){
			$scope.test = "success"
		});
	</script>
</html>