body,div{
	margin:0px 0px;
}
html,body,.whole_wrap,.body_wrap,.menu_left{
	height: 100%;
}
.whole_wrap{
	margin: 0px auto;
	min-width:1000px;
	min-height: 700px;
	position: relative;
}
.page_main{
	width:100%;
}
.head_wrap{
	position:absolute;
	height:50px;
	background: #8080ff;
	top: 0;
}
.foot_wrap{
	position:absolute;
	height:50px;
	background: #ff8080;
	bottom: 0;
}
.body_wrap{
	background: #c0c0c0;
}
.menu_left{
	width:200px;
	background: #ffff80;
}